.board-filters {

  & {
    flex-basis: 100%;
    margin-top: rem(15);  
  }

  & > .label {
    font-weight: 600;
    margin-right: rem(15);
    color: #888;
  }

  & > .btn-filter {
    
    & {
      @extend %buttons-styled;
      display: inline-block;  
      border: rem(2) solid #4365ef;
      padding: rem(6) rem(10);
      color: #4365ef;
      font-size: rem(12);
    }

    &:hover,
    &.-selected {
      background-color: #4365ef;
      color: #FFF;
    }


  
    & + .btn-filter {
      margin-left: rem(10)
    }
    
  }

}


