@import "app";

.filters {
  position: fixed;
  bottom: 30px;
  background-color: #f4f4f4;
}

.label {
  font-weight: 600;
  margin-right: rem(15px);
  color: #888;
}

.btnFilter {
  & {
    @extend %buttonsUnstyled;
    display: inline-block;
    border: rem(2px) solid #4365ef;
    padding: rem(6px) rem(10px);
    color: #4365ef;
    font-size: rem(12px);
  }

  &:hover,
  &.selected {
    background-color: #4365ef;
    color: #fff;
  }

  & + .btnFilter {
    margin-left: rem(10px);
  }
}
