@import "app";

.board {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
  margin: 0 auto;
  padding: rem(20px) rem(15px);
  max-width: rem(1140px);
  min-height: calc(100vh - #{$headerHeight});
}
