@import "~normalize.css/normalize";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  background-color: #e8e8e8;
  color: #222;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  & {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

:global {
  .appContent {
    display: flex;
    flex-wrap: wrap; 
  }
}
