@import "app";

.header {
  display: flex;
  align-items: center;
  flex: 1 100%;
  height: rem($headerHeight);
  background-color: #866bff;
}

.title {
  margin: 0 auto;
  font-size: rem(21px);
  text-align: center;
  color: #fff;
}
